<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/5.1/phpunit.xsd"
    backupGlobals="false"
    colors="true"
    bootstrap="Tests/tests.bootstrap.php"
>
    <testsuites>
        <testsuite name="ts_application">
            <directory>./Tests</directory>
        </testsuite>
        <testsuite name="ts_unit">
            <directory>./Tests/Unit</directory>
        </testsuite>
        <testsuite name="ts_integration">
            <directory>./Tests/Integration</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>