<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
<!--                <add value="index.asp" />
                <add value="index.html" />
                <add value="index.htm" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="default.aspx" />-->
            </files>
        </defaultDocument>
        
        <rewrite>
            <rules>
                <!-- APPLICATION RULES -->
                <rule name="gscweb-mvc-framework front controller" stopProcessing="true">
                    <match url="^(.*)$" />
                    <action type="Rewrite" url="web/index.php/{R:1}" />
                </rule>
                <!-- END APPLICATION RULES -->
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
